In [29]:
from pymongo import MongoClient
import pandas as pd
import folium

In [30]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [31]:
db, coll = connectCollection('companies','companies')

In [32]:
empty_offices=coll.find({"$and":[{"deadpooled_year":{"$gt":2010}},{"offices.city":'New York'}]})

In [33]:
empty_offices_df=pd.DataFrame(empty_offices)

In [34]:
empty_offices_df.columns

Index(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url',
       'blog_url', 'blog_feed_url', 'twitter_username', 'category_code',
       'number_of_employees', 'founded_year', 'founded_month', 'founded_day',
       'deadpooled_year', 'deadpooled_month', 'deadpooled_day',
       'deadpooled_url', 'tag_list', 'alias_list', 'email_address',
       'phone_number', 'description', 'created_at', 'updated_at', 'overview',
       'image', 'products', 'relationships', 'competitions', 'providerships',
       'total_money_raised', 'funding_rounds', 'investments', 'acquisition',
       'acquisitions', 'offices', 'milestones', 'ipo', 'video_embeds',
       'screenshots', 'external_links', 'partners', 'location', 'loc'],
      dtype='object')

In [35]:
empty_offices_df=empty_offices_df[['loc']]

In [36]:
empty_offices_df=empty_offices_df.dropna()

In [37]:
empty_offices_df['Category']='Empty Office'

In [38]:
empty_offices_df=empty_offices_df.loc[empty_offices_df['loc']!={'type': 'Point', 'coordinates': [None, None]}]

In [39]:
empty_offices_df

                                                  loc      Category
1   {'type': 'Point', 'coordinates': [40.762673, -...  Empty Office
7   {'type': 'Point', 'coordinates': [40.753918, -...  Empty Office
8   {'type': 'Point', 'coordinates': [40.756054, -...  Empty Office
12  {'type': 'Point', 'coordinates': [40.7038257, ...  Empty Office
13  {'type': 'Point', 'coordinates': [40.7322535, ...  Empty Office

In [40]:
empty_offices_df[['loc','Category']].to_json("empty_offices.json", orient='records')

#mongoimport --db companies --collection offices --jsonArray  empty_offices.json