In [123]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
import folium
from pymongo import MongoClient
import pymongo

load_dotenv()

True

In [124]:
# Python program to get a set of  
# places according to your search  
# query using Google Places API 
  
# importing required modules 
import requests, json 
  
# enter your api key here 
api_key = os.getenv("GOOGLE_TOKEN")
  
# url variable store url 
url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
  
# The text string on which to search 
query = 'Schools New York' 
 
# get method of requests module 
# return response object 
r = requests.get(url + 'query=' + query +
                        '&key=' + api_key) 
  
# json method of response object convert 
#  json format data into python format data 
x = r.json() 
  
# now x contains list of nested dictionaries 
# we know dictionary contain key value pair 
# store the value of result key in variable y 
y = x['results'] 
  
# keep looping upto lenght of y 

schools_ny=[]
for i in range(len(y)): 
      
    # Print value corresponding to the 
    # 'name' key at the ith index of y 
    schools_ny.append(( y[i]))

In [125]:
print(schools_ny[0])

print()

print(schools_ny[0].keys())

{'formatted_address': '1026 5th Ave, New York, NY 10028, United States', 'geometry': {'location': {'lat': 40.7799655, 'lng': -73.96136820000001}, 'viewport': {'northeast': {'lat': 40.78134717989272, 'lng': -73.96009237010726}, 'southwest': {'lat': 40.77864752010728, 'lng': -73.96279202989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png', 'id': '287dc98908e8760c257241e97566f419313dc042', 'name': 'Marymount School of New York', 'photos': [{'height': 4032, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115481102779579419248/photos">Joseph Youssef</a>'], 'photo_reference': 'CmRaAAAAnHAdtP2WCLTsLW_cDcRCIMbzi7KL-BG2uj7evgSMhTDFXkT-PR4hPw-GMFtl-NAYkObFRaYvhMmPfV6hZ0iIM-clM6CJ_EG_2vz_t_zLCX39vvnAkMtTaJkPOsslzMnlEhDT7i_GE9RsvjK1NA55WQabGhSnvL0kF0i7JTDF4Z3q3vY0vO6zsA', 'width': 3024}], 'place_id': 'ChIJHwjkuZdYwokRsFfcPewQPu4', 'plus_code': {'compound_code': 'Q2HQ+XF New York, United States', 'global_code': '87G8Q2HQ+XF'}, 'rating': 4.4, 'reference': 'ChIJHwjkuZdYwokRsFfcPewQPu4', 'types': ['school', 'point_of_interest', 'establishment'], 'user_ratings_total': 14}

dict_keys(['formatted_address', 'geometry', 'icon', 'id', 'name', 'photos', 'place_id', 'plus_code', 'rating', 'reference', 'types', 'user_ratings_total'])

In [126]:
def deleting_keys(json,lst_keys_no_req):
    for i in range(len(json)):
        for e in lst_keys_no_req:
            if e in json[i]:
                del json[i][e]
    return json

In [127]:
not_req_info=['icon', 'opening_hours', 'photos', 'place_id',
                'plus_code', 'rating', 'reference', 'types', 'user_ratings_total']

In [128]:
schools_ny=deleting_keys(schools_ny,not_req_info)

print(starbucks_ny[0])

{'formatted_address': '20 Waterside Plaza, New York, NY 10010, United States', 'geometry': {'location': {'lat': 40.7368052, 'lng': -73.97288189999999}, 'viewport': {'northeast': {'lat': 40.73840887989272, 'lng': -73.97213542010728}, 'southwest': {'lat': 40.73570922010727, 'lng': -73.97483507989273}}}, 'id': 'f4718a0bfc73fb78dbb354516cd5f8bc4a633ff1', 'name': 'The British International School of New York'}

In [129]:
def getLocation(lst):
    for i in range(len(lst)):
        longitude = lst[i]['geometry']['location']['lng']
        latitude = lst[i]['geometry']['location']['lat']
        loc = {
            'type':'Point',
            'coordinates':[latitude,longitude]
        }
        lst[i]['loc']=loc

    return lst

In [130]:
schools_ny=getLocation(schools_ny)

In [131]:
schools_df=pd.DataFrame(schools_ny)

schools_df['Category']='Starbucks'

schools_df.head()

,formatted_address,geometry,id,name,loc,Category
0,"1026 5th Ave, New York, NY 10028, United States","{'location': {'lat': 40.7799655, 'lng': -73.96...",287dc98908e8760c257241e97566f419313dc042,Marymount School of New York,"{'type': 'Point', 'coordinates': [40.7799655, ...",Starbucks
1,"20 Waterside Plaza, New York, NY 10010, United...","{'location': {'lat': 40.7368052, 'lng': -73.97...",f4718a0bfc73fb78dbb354516cd5f8bc4a633ff1,The British International School of New York,"{'type': 'Point', 'coordinates': [40.7368052, ...",Starbucks
2,"1665 St Marks Ave, Brooklyn, NY 11233, United ...","{'location': {'lat': 40.6733846, 'lng': -73.91...",c00ef27f6fce06eb83d14034a54568b160afa8fa,New York City School District Office,"{'type': 'Point', 'coordinates': [40.6733846, ...",Starbucks
3,"44 E 2nd St, New York, NY 10003, United States","{'location': {'lat': 40.7248751, 'lng': -73.98...",12ce6ecd42e708aea41cb942c35cb59b938a585a,"Nord Anglia International School, New York","{'type': 'Point', 'coordinates': [40.7248751, ...",Starbucks
4,"345 Chambers St, New York, NY 10282, United St...","{'location': {'lat': 40.7177577, 'lng': -74.01...",7ba09b3c5a39799342b9e024f869a499feab17ed,Stuyvesant High School,"{'type': 'Point', 'coordinates': [40.7177577, ...",Starbucks

In [132]:
schools_df=schools_df.drop(['geometry'],axis=1)

schools_df.head(1)

,formatted_address,id,name,loc,Category
0,"1026 5th Ave, New York, NY 10028, United States",287dc98908e8760c257241e97566f419313dc042,Marymount School of New York,"{'type': 'Point', 'coordinates': [40.7799655, ...",Starbucks

In [134]:
schools_df.to_json("schools_ny.json",orient='records')
#mongoimport --db companies --collection schools --jsonArray  schools.json