In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
import folium
from pymongo import MongoClient

load_dotenv()

True

In [2]:
# Python program to get a set of  
# places according to your search  
# query using Google Places API 
  
# importing required modules 
import requests, json 
  
# enter your api key here 
api_key = os.getenv("GOOGLE_TOKEN")
  
# url variable store url 
url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
  
# The text string on which to search 
query = 'Starbucks New york'
  
# get method of requests module 
# return response object 
r = requests.get(url + 'query=' + query +
                        '&key=' + api_key) 
  
# json method of response object convert 
#  json format data into python format data 
x = r.json() 
  
# now x contains list of nested dictionaries 
# we know dictionary contain key value pair 
# store the value of result key in variable y 
y = x['results'] 
  
# keep looping upto lenght of y 

starbucks_ny=[]
for i in range(len(y)): 
      
    # Print value corresponding to the 
    # 'name' key at the ith index of y 
    starbucks_ny.append(( y[i]))

In [3]:
starbucks_ny[0].keys()

dict_keys(['formatted_address', 'geometry', 'icon', 'id', 'name', 'opening_hours', 'photos', 'place_id', 'plus_code', 'price_level', 'rating', 'reference', 'types', 'user_ratings_total'])

In [4]:
def deleting_keys(json,lst_keys_no_req):
    for i in range(len(json)):
        for e in lst_keys_no_req:
            if e in json[i]:
                del json[i][e]
    return json

In [5]:
not_req_keys=['icon', 'opening_hours', 'photos', 'place_id', 'plus_code', 
              'price_level', 'rating', 'reference', 'types', 'user_ratings_total']

In [6]:
starbucks_ny=deleting_keys(starbucks_ny,not_req_keys)

In [14]:
def getLocation(lst):
    for i in range(len(lst)):
        longitude = lst[i]['geometry']['location']['lng']
        latitude = lst[i]['geometry']['location']['lat']
        loc = {
            'type':'Point',
            'coordinates':[latitude, longitude]
        }
        lst[i]['loc']=loc

    return lst

In [15]:
starbucks_ny=getLocation(starbucks_ny)

In [16]:
starbucks_df=pd.DataFrame(starbucks_ny)

starbucks_df['Category']='Starbucks'

starbucks_df.head()

,formatted_address,geometry,id,name,loc,Category
0,"482 W Broadway, New York, NY 10012, United States","{'location': {'lat': 40.7268419, 'lng': -74.00...",d3b60d1da252d57bc05db6b3d82f769ac0bf5cc9,Starbucks,"{'type': 'Point', 'coordinates': [40.7268419, ...",Starbucks
1,"1101 - 1109, 6th Ave, New York, NY 10036, Unit...","{'location': {'lat': 40.75559, 'lng': -73.9841...",1457050997802b2314d6cd378f12d6ed946dd3d9,Starbucks,"{'type': 'Point', 'coordinates': [40.75559, -7...",Starbucks
2,"4761 Broadway, New York, NY 10040, United States","{'location': {'lat': 40.865718, 'lng': -73.927...",357050d77392f3a98edd4c65faeee339fb888151,Starbucks,"{'type': 'Point', 'coordinates': [40.865718, -...",Starbucks
3,"325 W 49th St, New York, NY 10019, United States","{'location': {'lat': 40.762192, 'lng': -73.987...",5c55c74e5a3b466b77e118075d88652ca8eff51e,Starbucks,"{'type': 'Point', 'coordinates': [40.762192, -...",Starbucks
4,"1500 Broadway, New York, NY 10019, United States","{'location': {'lat': 40.7567274, 'lng': -73.98...",0670c3bc090a1e37682bc6822528b0fc0686363b,Starbucks,"{'type': 'Point', 'coordinates': [40.7567274, ...",Starbucks

In [17]:
starbucks_df=starbucks_df.drop(['geometry'],axis=1)

starbucks_df.head(1)

,formatted_address,id,name,loc,Category
0,"482 W Broadway, New York, NY 10012, United States",d3b60d1da252d57bc05db6b3d82f769ac0bf5cc9,Starbucks,"{'type': 'Point', 'coordinates': [40.7268419, ...",Starbucks

In [18]:
starbucks_df.to_json("starbucks_ny.json",orient='records')

In [19]:
map_city=folium.Map(location=(40.7142700, -74.0059700), zoom_start=12)

In [ ]:
for i in range(len(starbucks_ny)):
    folium.Marker([starbucks_ny[i]['location']['lat'],
                   starbucks_ny[i]['location']['lng']],
                  zoom_start=1 ,icon=folium.Icon(prefix='fa', icon='coffee',color='darkred'),
                  popup='Starbucks').add_to(map_city)

In [ ]:
map_city